@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: 35%;
  z-index: 10;
  background-color: white;
  padding: 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.swiper-button-prev-custom {
  left: -20px;
}

.swiper-button-next-custom {
  right: -20px;
}

